USE_HF_INFERENCE_API=false
HF_INFERENCE_API_TOKEN=
HF_INFERENCE_API_URL=
HF_DEFAULT_MODEL=vennify/t5-base-grammar-correction
GRAMMAR_MODEL_NAME=prithivida/grammar_error_correcter_v1
MAX_INPUT_CHARS=8000
CORS_ORIGINS=*
ENABLE_DIFF_EXPLANATIONS=true


